body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Header section */
h1 {
    font-size: 50px;
}

.name-heighlight {
    color: orange;
}

.left-part {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.right-part {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.profile-img {
    width: 100%;

}

.header {
    background-image: url("images/top-banner.png");
    height: 500px;
    background-repeat: no-repeat;
    padding-bottom: 60px;

}

.hire {
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
}


/* Dream Section Satrt */
.dream-left {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.dream-right {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.download-resume {
    text-decoration: none;
    background-color: tomato;
    background-image: linear-gradient(45deg, LightSalmon, tomato);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;

}

.dream {
    background-image: url("images/dream-bg.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: right;

}